@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Josefin+Slab|Fontdiner+Swanky');
body{
	background: url("mathbg.jpg");
	margin: 0  auto;
	position: fixed;
	background-size: cover;

}
/*style the calculator body*/
#wrapper
{
	height: 600px;
	width: 450px;
	background: #8F261A;
	position: absolute;
	top: 75px;  
    left: 600px;
    border: 5px double gray;
    border-radius: 100px;
    box-shadow: 0 10px 6px -6px black;
}

/*style the display bar*/
input[type=text] {
	margin: 30px;
	margin-bottom: 5px;
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 20px;
    font-size: 30px;
    width: 350px;
    height: 75px;
    border:2px solid black;
}

/*style the body*/
input[type=button], input[type=reset]{
	margin: 6px;
    padding:5px; 
    border:2px solid black; 
    border-radius: 10px;
    font-size: 20px;
    width: 80px;
    height: 75px;
    box-shadow: inset 0 0 5px 5px #888;;

}

/*style the hover*/
input[type=button]:hover , input[type=reset]:hover {
    font-size: 22px;
    background: #51555b; 

}
/*put the button in center*/
table
{
	text-align: center;
}

/*style the dicrections */
h3
{
    margin: 50px;
    color: #8F261A;
    font-size: 20px;
    background: white;
    opacity: .6;
    border-radius: 10px;
    font-family: 'Fontdiner Swanky', cursive;
    position: absolute ;
    top: 300px;
    left: 1030px;
    height: 100px;
    width: 300px;
    text-align: center;
    padding: 20px;

}